{% extends "base_generic.html" %} 
{% load static %}
{% block content %}
<div style="height:50vh;" class="container d-flex justify-content-center align-items-center">
        <form action="" method="post">
            {% csrf_token %} 
            {% if form.email.errors %} 
                <p class="text-danger"><strong>{{ form.email.errors }}</strong></p>
            {% endif %}
            <p>{{ form.email.label }}</p>
            <p>{{ form.email }}</p>
            <input type="submit" class="btn btn-primary btn-lg" value="Reset password" />
        </form>         
</div>

{% endblock %}
