<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Local Library</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'books' %}">All Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'authors' %}">All Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'my-borrowed' %}">My Borrowed Books</a>
                </li>
                {% if perms.catalog.can_mark_returned %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'all-borrowed' %}">All Borrowed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'book-create' %}">Create Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'author-create' %}">Create Author</a>
                </li>
                {% endif %}

            </ul>
        </div>
        <div class="ms-auto">
            <ul class="navbar-nav ">
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        <li class="nav-item p-2">Staff: {{ user.username|title }}</li>
                    {% elif perms.catalog.can_mark_returned %}
                        <li class="nav-item p-2">Librarian: {{ user.username|title }}</li>
                    {% else %}
                        <li class="nav-item p-2">User: {{ user.username|title }}</li>
                    {% endif %}
                    <li class="nav-item p-2"><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>