{% extends "base_generic.html" %}

{% block content %}

<h1>Author List</h1>

{% if author_list %} 
<ul>
    {% for author in author_list %}
    <li>
        <a href="{{ author.get_absolute_url }}">{{ author.last_name|title }}, {{ author.first_name|title }}</a>
        (Book Count: {{ author.book_set.all.count }})
        {% if user.is_staff %}
            <p class="m-0 px-2"><a class="text-warning" href="{% url 'author-update' author.id %}">Edit</a> / <a class="text-danger" href="{% url 'author-delete' author.id %}">Delete</a></p>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %} 
    <p>There are no authors in the library.</p>
{% endif %}

{% endblock content %}