{% extends "base_generic.html" %}

{% block content %}
<div class="container">
    <div class="">
        <h1 class="text-center">Author: {{ author.first_name|title }} {{ author.last_name|title }}</h1>

        <p class="text-center">
            {{ author.date_of_birth }} - 
            {% if author.date_of_death %}
                {{ author.date_of_death }}  (Age: {{ author.author_age }})
            {% else %}
                <strong>Alive (Age: {{ author.author_age }}) </strong>
            {% endif %}
            </p>
            

        {% if author.book_set.all %}
            <h1 class="">Books</h1>
        {% else %} 
            <h1 class="">Books</h1>
            <p>No books available.</p>
        {% endif %}

        {% for book in author.book_set.all  %}
            <h3><a href="{{ book.get_absolute_url }}">{{ book.title|title }} </a>({{ book.bookinstance_set.all.count }} Cop{{ book.bookinstance_set.all.count|pluralize:"y,ies" }}.)</h3>
            <p>{{ book.summary }}</p>
        {% endfor %}

    </div>


</div>

{% endblock content %}